<iframe src="/static/ghbtns.html?user=asmaps&repo=hopper.pw&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe><br>
<script id='fbq5i9j_2'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=asmaps&button=compact&url=http%3A%2F%2Fwww.hopper.pw';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbq5i9j_2');</script>
<div id="fb-root"></div>
{% comment %}<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/hopper.pw" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>{% endcomment %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<span class="fb-like" data-href="https://www.facebook.com/hopper.pw" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
</span>
{#<div><script data-gittip-username="asmaps" data-gittip-widget="button" src="//gttp.co/v1.js"></script></div>#}
