celery[redis]
django-allauth==0.19.1
django-bootstrap-form
django-braces
django-debug-toolbar
django-extensions
django-jsonfield
django<1.8
dnspython
gunicorn
huey
ipython
opbeat
psycopg2
pylibmc
pytest
pytest-django
pytest-pep8
pytz
redis
sphinx
raven
