django-allauth
django-bootstrap-form
django-braces
django-debug-toolbar
django-extensions
django-jsonfield
django<1.8
dnspython
gunicorn
huey
ipython
psycopg2
pytest
pytest-django
pytest-pep8
pytz
pylibmc
redis
sphinx
