{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="hopper.pw team">
        <meta property="og:title" content="hopper.pw" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="hopper.pw is a free dynamic DNS service, as well as an open source software project." />
        <meta property="og:url" content="https://{{ site.domain }}/" />
        <meta property="og:image" content="https://{{ site.domain }}{% static 'img/logo.png' %}" />
        <meta property="fb:admins" content="arnysmile" />

        <title>{% block title %}hopper.pw{% endblock %}</title>

        {#<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">#}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="{% static 'css/hopper.css' %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <div class="wrap">
            <a class="hidden-xs" href="https://github.com/asmaps/hopper.pw" target="_blank"><img style="position: absolute; top: 0px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 hidden-xs">
                        <img src="{% static 'img/logo/banner_stay_connected.png' %}" />
                    </div>
                    <div class="col-xs-12 visible-xs">
                        <img src="{% static 'img/logo/logo_free_dns_no_bg.png' %}" />
                    </div>
                </div>
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">hopper.pw</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li{% if nav_home %} class="active"{% endif %}>
                            <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li{% if nav_overview %} class="active"{% endif %}>
                            <a href="{% url 'overview' %}"><i class="fa fa-dashboard"></i> Overview</a>
                            </li>
                            {% endif %}
                            <li{% if nav_about %} class="active"{% endif %}>
                            <a href="{% url 'about' %}"><i class="fa fa-tags"></i> About</a>
                            </li>
                            <li{% if nav_stats %} class="active"{% endif %}>
                            <a href="{% url 'stats' %}"><i class="fa fa-bar-chart-o"></i> Stats</a>
                            </li>
                            <li{% if nav_help %} class="active"{% endif %}>
                            <a href="{% url 'help' %}"><i class="fa fa-question-circle"></i> Help</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            {% if not request.user.is_authenticated %}
                            <li{% if nav_register %} class="active"{% endif %}><a href="{% url 'account_signup' %}"><i class="fa fa-star-o"></i> Sign up</a></li>
                            <li{% if nav_login %} class="active"{% endif %}><a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
                            {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'account_profile' %}"><i class="fa fa-user"></i> Account settings</a></li>
                                <li><a href="{% url 'socialaccount_connections' %}"><i class="fa fa-external-link"></i> OAuth Connections</a></li>
                                <li><a href="{% url 'domain_overview' %}"><i class="fa fa-terminal"></i> Own Domains</a></li>
                                {% if request.user.is_staff %}
                                <li><a href="/admin/"><i class="fa fa-cog"></i> Admin</a></li>
                                {% endif %}
                                <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="message_box">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block content %}
                Here goes the content.
                {% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                <div class="col-sm-6 text-muted credit">
                Sourcecode available at <a href="https://github.com/asmaps/hopper.pw">GitHub</a>
                | <a href="{% url 'legal' %}">Imprint</a>
                </div>
                <div class="col-sm-6 text-right">
                    Visit hopper.pw on <a href="https://www.facebook.com/hopper.pw">Facebook</a>
                    and <a href="https://twitter.com/hopper_dyndns">Twitter</a>
                </div>
                </div>
            </div>
        </div>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <div style="display: none">
            <img id="v4_img" />
            <img id="v6_img" />
            <script type="text/javascript">
                function insert_src() {
                    $('#v4_img').attr('src', "//{{ WWW_IPV4_HOST }}/detectip/{{ request.session.session_key }}/");
                    $('#v6_img').attr('src', "//{{ WWW_IPV6_HOST }}/detectip/{{ request.session.session_key }}/");
                };
$(setTimeout("insert_src()", 1000));
</script>
        </div>
        {% if ENABLE_TRACKING %}
        {% include "tracking.html" %}
        {% endif %}
        {% block bottom_js %}
        {% endblock bottom_js %}
    </body>
</html>
