{% extends "base.html" %}
{% load bootstrap %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
{% endblock %}

{% block header %}

<div class="jumbotron">
    {% if request.session.ipv4 %}
    <h1>{{request.session.ipv4}}</h1>
    {% endif %}
    {% if request.session.ipv6 %}
    <h2>{{request.session.ipv6}}</h2>
    {% endif %}
    <p>hopper.pw, the <strong>free and open source</strong> Dynamic DNS service for you.</p>
    <p>
    {% include "social_widgets.html" %}
    </p>
</div>


{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="fa fa-globe fa-3x"></i></h1>
        <h3>World Wide Web</h3>
        <p>
        Reach your home whenever you want!
        </p>
    </div>
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="fa fa-github fa-3x"></i></h1>
        <h3>Open Source and free</h3>
        <p>
        hopper.pw is a free to use, open source dynamic DNS service with IPv4 and IPv6 support.
        </p>
    </div>
    <div class="col-sm-4" style="text-align: center">
        <h1><i class="fa fa-rocket fa-3x"></i></h1>
        <h3>Rocket science</h3>
        <p>
        hopper.pw relies on an awesome software stack:<br>
        <a href="http://www.python.org">python</a>,
        <a href="http://www.djangoproject.com">django</a>,
        <a href="http://www.postgres.org">postgres</a>,
        <a href="http://www.nginx.org">nginx</a> and
        <a href="http://www.powerdns.com">powerdns</a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well well-sm">
            <h3>Screenshots</h3>
            <div id="screenshot-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#screenshot-carousel" data-slide-to="1"></li>
                    <li data-target="#screenshot-carousel" data-slide-to="2"></li>
                    <li data-target="#screenshot-carousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="{% static 'screenshots/overview.png' %}" class="mfp-image">
                            <img src="{% static 'screenshots/overview.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% static 'screenshots/stats.png' %}" class="mfp-image">
                            <img src="{% static 'screenshots/stats.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% static 'screenshots/generatesecret.png' %}" class="mfp-image">
                            <img src="{% static 'screenshots/generatesecret.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% static 'screenshots/hostview.png' %}" class="mfp-image">
                            <img src="{% static 'screenshots/hostview.png' %}">
                        </a>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#screenshot-carousel" data-slide="prev">
                    <span class="fa fa-angle-left icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#screenshot-carousel" data-slide="next">
                    <span class="fa fa-angle-right icon-next"></span>
                </a>
            </div>
        </div>
    </div>
</div>
{% if ENABLE_ADS %}
<div class="row ad-728-90">
    <div class="text-center col-lg-12">
        {% include "ads/ad_leaderboard.html" %}
    </div>
</div>
{% endif %}

<hr>
{% endblock %}

{% block bottom_js %}
<script src="{% static 'magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script>
    $(document).ready(function() {
        
            $('.mfp-image').magnificPopup({
                type:'image',
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });
        
    });
</script>
{% endblock bottom_js %}
