{% extends 'base.html' %}
{% load static from staticfiles %}

{% block extra_head %}
<link href="{% static 'stats/stats.css' %}" rel="stylesheet">
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'stats/flot/excanvas.min.js' %}"></script><![endif]-->
{% endblock extra_head %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h1>Statistics on hopper.pw</h1>   
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
            <h2>Total number of users</h2>
            <div id="user_count_graph" class="flotgraph well">
            </div>
    </div>
    <div class="col-lg-6">
            <h2>Total number of hosts</h2>
            <div id="host_count_graph" class="flotgraph well">
            </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
            <h2>Number of IP updates by day</h2>
            <div id="ip_update_count_graph" class="flotgraph well">
            </div>
    </div>
</div>
{% endblock content %}

{% block bottom_js %}
<script language="javascript" type="text/javascript" src="{% static 'stats/flot/jquery.flot.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'stats/flot/jquery.flot.time.js' %}"></script>
<script>
    $(document).ready(function() {
        {% include 'stats/includes/init_flotchart.html' with element='user_count_graph' datalist=user_counts %}
        {% include 'stats/includes/init_flotchart.html' with element='host_count_graph' datalist=host_counts %}
        {% include 'stats/includes/init_flotchart.html' with element='ip_update_count_graph' datalist=ip_update_counts %}
    });
</script>
{% endblock bottom_js %}
