{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="row">
    <div class="col-lg-4 well well-sm">
        <h3>Local account</h3>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        </form>
    </div>
    {% if socialaccount.providers  %}
        <div class="col-lg-4 text-center">
            <h1>OR</h1>
        </div>
        <div class="col-lg-4 well well-sm">
            <h3>Use a third party account (OAuth)</h3>
            <p>{% trans "Use one of your existing third party accounts:" %}</p>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>

            </div>
            <div class="text-center">
                hopper.pw will never post things on your timeline without explicit approval!<br>
                The social accounts are <strong>only</strong> used for authentication.
            </div>
        </div>
    {% endif %}
</div>
<hr>
<h3>Already have an account?</h3>
<div style="margin:20px">
    <a class="btn btn-lg btn-success" href="{{ login_url }}">Login</a>
</div>
{% endblock %}
