body {
    padding-top: 10px;
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.footer {
  height: 50px;
  padding: 15px;
  margin-top: 70px;
  background-color: #303030;
}

.mtop10 {
    margin-top: 10px;
}

.mbot10 {
    margin-bottom: 10px;
}

.indent {
    margin: 20px 0px 20px 20px;
}

/* magnific popu styles */
.mfp-image-holder .mfp-content {
    max-width: 50%;
}

.mfp-image img{
    -moz-zoom-in; cursor:
    -webkit-zoom-in;
    cursor: zoom-in;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

